stop-on-failure: true
suites:
    pds_suite:
        namespace: PersonDBSkeleton
        psr4_prefix:
        spec_path: tests/specs
        spec_prefix: Spec
        src_path: src
extensions:
    PhpSpec\NyanFormattersExtension\Extension: ~
formatter.name: nyan.cat
